<footer>
    <p id="banner-proiect">Acesta este un proiect școlar!</p>
    <a href="#top" id="link-top">
        <div class="triunghi"></div>
        <span class="tooltip">Revino sus</span>
    </a>
    <address>
        <strong>Contactați-ne:</strong><br>
        Telefon: <a href="tel:+40712345678">0712 345 678</a><br>
        E-mail: <a href="mailto:contact@magazinlego-tw.ro">contact@magazinlego-tw.ro</a><br>
        <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica+Bucuresti" target="_blank">Bulevardul Cărămizilor nr. 10</a>
    </address>
    <iframe src="https://maps.google.com/maps?q=Facultatea%20de%20Matematica%20si%20Informatica%20Bucuresti&t=&z=15&ie=UTF8&iwloc=&output=embed" style="width: 100%; height: 300px; border:0; margin-bottom: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>
        <small>© 2026 Magazin de LEGO. Toate drepturile rezervate.<br>Pagina creată pe <time datetime="2026-03-10">9 martie 2026</time>.</small>
    </p>
</footer>