<header>
    <h1>Proiect TW - Magazin de LEGO</h1>
    <nav>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu" id="hamburger">
            <span class="bara"></span>
            <span class="bara"></span>
            <span class="bara"></span>
        </label>

        <ul class="menu">
            <li id="opt-acasa">
                <a href="/"><i class="fa-solid fa-house"></i><span> Acasă</span></a>
                <ul class="submeniu">
                    <li><a href="/#welcome">Bine ați venit</a></li>
                    <li><a href="/#promotii">Promoții</a></li>
                    <li><a href="/#produse">Gama de piese</a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa-solid fa-layer-group"></i><span> Galerii</span></a>
                <ul class="submeniu">
                    <li><a href="/galerie-statica">Galerie Statică</a></li>
                    <li><a href="/galerie-dinamica">Galerie Dinamică</a></li>
                </ul>
            </li>

            <li>
                <a href="/"><i class="fa-solid fa-circle-info"></i><span> Info</span></a>
                <ul class="submeniu">
                    <li><a href="/despre">Despre Noi</a></li> <li><a href="/#orar">Orar Detaliat</a></li>
                    <li><a href="/#promotii">Promoții Active</a></li>
                    <li><a href="/#faq">Întrebări Frecvente</a></li>
                </ul>
            </li>

            <li><a href="/inregistrare"><i class="fa-solid fa-user-plus"></i><span> Cont Nou</span></a></li>
        </ul>
    </nav>
</header>